# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# package-specific
clocal.m4
autom4te.cache
build
cscope.*
tags
depcomp
INSTALL
install-sh
ltmain.sh
Makefile
Makefile.in
missing
stamp-h[0-9]
test-driver
*compile
*.gcda
*.gcno
*.sw?
*~
*.tar.gz
*.rpm
*.diff
*.patch
.libs
.deps
.nfs*

# Softlinks to test and log
log
*.vol

# editor
*.swp

# cmocka unit tests
*.log
*.trs
*_unittest

# project files
# FAMfsd

# generated package files
client/unifycr-config
client/unifycr.pc

# generated package files
client/unifycr-config
client/unifycr.pc

# test files
client/tests/test_read_gotcha
client/tests/test_read_static
client/tests/test_write_gotcha
client/tests/test_write_static
t/sys/open.t
t/test-results/
t/unifycr_unmount.t
t/test_run_env.sh
