[submodule "node/isa-l"]
	path = node/isa-l
	url = git@github.com:intel/isa-l.git
[submodule "userspace-rcu"]
	path = userspace-rcu
	url = git@github.com:ivadmitry/userspace-rcu.git
	branch = urcu/rcuja-simple-int
